/* Based on "Composition II in Red, Blue, and Yellow," by Piet Mondrian (1930): https://en.wikipedia.org/wiki/Piet_Mondrian */
.wrapper {
  width: 600px;
  height: 600px;
  background: url(painting.png) no-repeat;
  display: grid;
  grid-gap: 10px;
}
div {
	border: 1px solid black;
	background-color: white;
	opacity: 0.5;
}
.a {
	grid-area: 1/1/2/2 ;
}
.b {
	grid-area: 2/1/3/2;
}
.c {
	grid-area: 1/2/3/4;
}
.d {
	grid-row: 3/4;
	grid-column: 1/3;
}
.e {

}
.f {

}
.g {
	
}










