*{
    margin:0;
    padding:0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    margin: 0;
    padding: 0;
    background: #211F1C;
    color: #f7f6f3;
    font-family: roboto, 'Poppins', sans-serif;
}