/* Based on "Composition II in Red, Blue, and Yellow," by Piet Mondrian (1930): https://en.wikipedia.org/wiki/Piet_Mondrian */
.wrapper {
  width: 633px;
  height: 458px;
  background: url(mondrian2.png) no-repeat;
	display: grid;
	grid-gap: 10px;
}
div {
	border: 1px solid black;
	background-color: white;
	opacity: 0.5;
}
.a {
	grid-area: 1/1/4/3;
}
.b {
	grid-area: 1/2/2/3;
}
.c {

}
.d {

}
.e {

}
.f {

}
.g {
	
}
.h {
	
}
.i {
	
}
.j {
	
}










